/* DealRegistration.css */
.DealRegWhiteCard {
    width: 80%;
    /* height: 30vh; */
    border-radius: 15px;
    background-color: rgba(165, 224, 234, 0.527);
    padding: 30px; /* Added padding for internal spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added shadow for better visibility */

}

.DealRegbackgroundCards {
    margin-left: 34vh;
    margin-top: 10vh;
}

.DealHeading {
    text-align: center;
}

.DealCard1Data .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* padding: 20px; */
    background-color: #fff; /* Ensuring card has a white background */
    height: 200px;
 

}

.DealCard1Data .card-body {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    margin-top: 40px;
}

.DealCard1Data .card-title {
    font-size: 1rem;
    color: #6c757d;
}

.DealCard1Data .card-text {
    font-size: 2.5rem;
    font-weight: bold;
}


