.vCards {
    margin-left: 20px;
    margin-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

/* Custom class to increase the width of the card image */
.custom-card-img {
    width: 100%; /* Ensures the image takes the full width of the card */
}

.Roww{
    margin-top: 40px;

}

.videosPageHeading {
    text-align: center;
    margin-top: 4vh;
}